.footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 0;
}

.logo-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.para{
    margin-left: 40px;
}

.para p{
    display: flex;
    justify-content: start;
    text-align: center;
    font-size: 80%;
    font-weight: 400;
    color: rgba(84, 130, 168, 1);
}

.footer-links {
    margin-bottom: 10px;
    margin-left: -40px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    gap: 10;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-icons {
    margin-bottom: 10px;
    margin-right: -40px;
}

.footer-icons a {
    margin: 0 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.footer-icons a:hover {
    color: #ddd;
}

@media (max-width: 480px) {
    .footer-links a {
        display: block;
        margin: 5px 0;
    }
}